<?xml version='1.1' encoding='utf-8'?>
<plugin id="cordova-plugin-pxinapp" version="0.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GDApi</name>

    <keywords></keywords>
    <repo>https://github.com/orange-games/cordova-plugin-pxinapp.git</repo>
    <issue>https://github.com/orange-games/cordova-plugin-pxinapp/issues</issue>

    <dependency id="es6-promise-plugin" version="^4.2.2" />

    <js-module name="pxInapp" src="www/pxInapp.js">
        <clobbers target="window.plugins.pxInapp"/>
    </js-module>

    <hook type="before_compile" src="hooks/copyBinFile.js" />

    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="PXInApp">
                <param name="android-package" value="com.orangegames.cordova.plugin.PXInApp"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.SEND_SMS" />
            <uses-permission android:name="android.permission.RECEIVE_SMS" />
            <uses-permission android:name="android.permission.READ_SMS" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        </config-file>

        <lib-file src="libs/pxinapp.jar" arch="device" />
        <resource-file src="libs/arm64-v8a/libpxinapp.so" target="jniLibs/arm64-v8a/libpxinapp.so" />
        <resource-file src="libs/armeabi/libpxinapp.so" target="jniLibs/armeabi/libpxinapp.so" />
        <resource-file src="libs/armeabi-v7a/libpxinapp.so" target="jniLibs/armeabi-v7/libpxinapp.so" />
        <resource-file src="libs/mips/libpxinapp.so" target="jniLibs/mips/libpxinapp.so" />
        <resource-file src="libs/mips64/libpxinapp.so" target="jniLibs/mips64/libpxinapp.so" />
        <resource-file src="libs/x86/libpxinapp.so" target="jniLibs/x86/libpxinapp.so" />
        <resource-file src="libs/x86_64/libpxinapp.so" target="jniLibs/x86_64/libpxinapp.so" />

        <source-file src="src/android/PXInApp.java" target-dir="src/com/orangegames/cordova/plugin"/>

        <framework src="com.google.code.gson:gson:2.8.5" />
    </platform>
</plugin>
